:host{
    display: flex;
    width: 100%;
    padding: 10%;
    flex-direction: column;
}
/* 标题 */
.name{
    display: block;
    width: 100%;
    font-size:larger;
    line-height: 1.5em;
    margin-top: 20%;
    margin-bottom: 10%;
}
/* 正文 */
.content{
    display: inline-block;
    white-space: pre-wrap;
}