<!-- 遮罩层 -->
<span class="cover">
    <!-- 顶栏 -->
    <span role="header-bar" class="header-bar">
        <mat-icon routerLink="/list">arrow_back_ios</mat-icon>
        <span class="book-name">
            {{bookInfo?.name}}
        </span>
    </span>
    <!-- 可取消遮罩层区域 -->
    <span class="cancel-cover" (click)="onCancelClick()"></span>
    <!-- 状态栏 -->
    <span class="status-bar" role="status-bar">
        <span>status-bar</span>
    </span>
</span>


<!-- 章节目录 -->
<!-- <span role="chapter-list"></span> -->