<span class="item" routerLink="/" (click)="ref.dismiss()">
    <mat-icon>home</mat-icon>
    <span>主页</span>
</span>
<span class="item" [routerLink]="['reader',bookName,'chapter-list']" (click)="ref.dismiss()">
    <mat-icon>menu</mat-icon>
    <span>目录</span>
</span>
<span class="item" (click)="openStyleConfig()">
    <mat-icon>style</mat-icon>
    <span>界面</span>
</span>
<span class="item" routerLink="/reader/setting" (click)="ref.dismiss()">
    <mat-icon>settings</mat-icon>
    <span>设置</span>
</span>