:host{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.toolbar{
    display: flex;
    width: 100%;
}
.toolbar .title{
    text-overflow: ellipsis;
    overflow-x: hidden;
}
.chapter-list{
    flex-grow: 1;
}
.chapter-item{
    height: 48px;
}
