<cdk-virtual-scroll-viewport [itemSize]="chapterNameItemSize" class="chapter-list unselectable" (cdkObserveContent)="scrollCurrentChapter()">
    <mat-list>
        <ng-container *cdkVirtualFor="let chapterName of book?.chapterNameList;index as index">
            <mat-list-item class="chapter-item" [class.chapter-current]="book?.chapterIndex === index" (click)="navigateChapter(index)">
                {{chapterName}}
            </mat-list-item>
        </ng-container>
    </mat-list>
</cdk-virtual-scroll-viewport>
