<!-- 内容区域 包含标题和正文 -->
<book-reader-book-reader-content-layer
    class="content-layer" 
    [chapter]="chapter"
    [style.background-color]="bgColor?.value"
    (close)="onContentLayerClosed($event)"
    (toggleOperability)="toggleOperability()"
    (switchPrevChapter)="onSwitchPrevChapter()"
    (switchNextChapter)="onSwitchNextChapter()"
></book-reader-book-reader-content-layer>
<!-- <book-reader-book-reader-action-layer
    class="action-layer"
    [book]="book"
    (cancel)="toggleOperability()"
    *ngIf="operable"
></book-reader-book-reader-action-layer> -->