<!-- 顶栏 -->
<span role="header-bar" class="header-bar" *ngIf="operable">
    <mat-icon routerLink="/list">arrow_back_ios</mat-icon>
    <span>
        {{bookInfo?.name}}
    </span>
</span>
<!-- 内容区域 包含标题和正文 -->
<span role="content-area" class="content-area" (click)="toggleOperability()">
    <!-- 标题 -->
    <span class="title" role="title">
        {{title}}
    </span>
    <!-- 正文 -->
    <span class="content" role="content">
        <!-- <span *ngFor="let paragraph of paragraphs">
        {{paragraph}}
    </span> -->
        {{content}}
    </span>
</span>
<!-- 状态栏 -->
<span class="status-bar" role="status-bar" *ngIf="operable">
    <span>status-bar</span>
</span>
<!-- 章节目录 -->
<span role="chapter-list" *ngIf="operable"></span>