<!-- 顶栏 -->
<span role="header-bar" class="header-bar" *ngIf="operable">
    <mat-icon routerLink="/list">arrow_back_ios</mat-icon>
    <span>
        {{bookInfo?.name}}
    </span>
</span>
<!-- 内容区域 包含标题和正文 -->
<book-reader-book-reader-content-layer
    class="content-area" 
    [chapter]="chapter"
    (click)="toggleOperability()"
></book-reader-book-reader-content-layer>
<!-- 状态栏 -->
<span class="status-bar" role="status-bar" *ngIf="operable">
    <span>status-bar</span>
</span>
<!-- 章节目录 -->
<span role="chapter-list" *ngIf="operable"></span>