:host{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
/* 内容层 */
.content-layer{
    width: 80%;
}
/* 操作层 */
.action-layer{
    position:fixed;
    top: 0;
    width: 100%;
    height: 6%;
}