<!-- 字体大小 -->
<span class="config-item font-size">
  <span class="title">字体大小</span>
  <span class="setting">
    <button mat-button aria-label="sub-font-size" (click)="updateFontSizePX(-1)">
      <mat-icon>remove</mat-icon>
    </button>
    <span>
      {{this.styleConfigMap.get("content.fontSize.px")?.value}}
    </span>
    <button mat-button aria-label="add-font-size" (click)="updateFontSizePX(1)">
      <mat-icon>add</mat-icon>
    </button>
  </span>
</span>
<!-- 字重 -->
<span class="config-item font-weight">
  <!-- <mat-button-toggle-group name="fontStyle" aria-label="Font Style" (change)="updateFontWeight($event.value)"
      [value]="styleConfigMap.get('content.fontWeight')?.value">
      <mat-button-toggle value="normal">普通</mat-button-toggle>
      <mat-button-toggle value="bold">加粗</mat-button-toggle>
    </mat-button-toggle-group> -->
  <mat-checkbox [checked]="styleConfigMap.get('content.fontWeight')?.value === 'bold'"
    (change)="updateFontWeight($event.checked ? 'bold':'normal')">加粗</mat-checkbox>
</span>
<!-- 行高 -->
<span class="config-item line-height">
  <span class="title">行高</span>
  <span class="setting">
    <button mat-button aria-label="sub-line-height" (click)="updateLineHeightEM(-0.1)">
      <mat-icon>remove</mat-icon>
    </button>
    <span>
      {{this.styleConfigMap.get("content.lineHeight.em")?.value}}
    </span>
    <button mat-button aria-label="add-line-height" (click)="updateLineHeightEM(0.1)">
      <mat-icon>add</mat-icon>
    </button>
  </span>
</span>
<!-- 缩进 -->
<!-- <span class="config-item text-indent">
  <button mat-stroked-button
    (click)="openTextIndentSelectorDialog(this.styleConfigMap.get('content.textIndentEM')?.value)">缩进</button>
</span> -->
<!-- 字体颜色选择器 -->
<span class="config-item font-color">
  <button mat-button (click)="openFontColorSelectorDialog(this.styleConfigMap.get('content.fontColor')?.value)">字体颜色</button>
</span>
<!-- 背景颜色选择器 -->
<span class="config-item bgcolor">
  <button mat-button (click)="openBgColorSelectorDialog(this.styleConfigMap.get('content.bgColor')?.value)">背景颜色</button>
</span>