:host{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.first-line{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.font-size{
  /* flex: 1; */
}
.font-weight{
  /* flex: 3; */
}
.text-indent{
  
}