<!-- 第一行 -->
<span class="first-line">
  <!-- 字体大小 -->
  <span class="font-size">
    <button mat-button aria-label="sub-font-size" (click)="updateFontSizePX(-1)">
      <mat-icon>remove</mat-icon>
    </button>
    <span>
      {{this.styleConfigMap.get("content.fontSize.px")?.value}}
    </span>
    <button mat-button aria-label="add-font-size" (click)="updateFontSizePX(1)">
      <mat-icon>add</mat-icon>
    </button>
  </span>
  <!-- 字重 -->
  <span class="font-weight">
    <!-- <mat-button-toggle-group name="fontStyle" aria-label="Font Style" (change)="updateFontWeight($event.value)"
      [value]="styleConfigMap.get('content.fontWeight')?.value">
      <mat-button-toggle value="normal">普通</mat-button-toggle>
      <mat-button-toggle value="bold">加粗</mat-button-toggle>
    </mat-button-toggle-group> -->
    <mat-checkbox
      [checked]="styleConfigMap.get('content.fontWeight')?.value === 'bold'"
      (change)="updateFontWeight($event.checked ? 'bold':'normal')"
    >加粗</mat-checkbox>
  </span>
  <!-- 缩进 -->
  <span class="text-indent">
    <button mat-stroked-button (click)="openTextIndentSelectorDialog(this.styleConfigMap.get('content.textIndentEM')?.value)">缩进</button>
  </span>
</span>
<!-- 第二行 -->
<span class="second-line"></span>
<!-- 第三行 -->
<span class="third-line"></span>