:host{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.first-line{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.config-item{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}