<mat-selection-list [multiple]="false">
  <mat-list-option [mat-dialog-close]="0" [selected]="currentTextIndentEM === 0">无缩进</mat-list-option>
  <mat-list-option [mat-dialog-close]="1" [value]="1" [selected]="currentTextIndentEM === 1">一字符缩进</mat-list-option>
  <mat-list-option [mat-dialog-close]="2" [value]="2" [selected]="currentTextIndentEM === 2">二字符缩进</mat-list-option>
  <mat-list-option [mat-dialog-close]="3" [value]="3" [selected]="currentTextIndentEM === 3">三字符缩进</mat-list-option>
  <mat-list-option [mat-dialog-close]="4" [value]="4" [selected]="currentTextIndentEM === 4">四字符缩进</mat-list-option>
</mat-selection-list>